@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-secondary-50 text-secondary-900 dark:bg-secondary-950 dark:text-secondary-50 transition-colors duration-300;
  }
}
